<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get & Post Express</title>
</head>
<body>
	<div>
		<h2 style="color: orange; text-align: center;">Get form from express template!</h2>
	</div>
	<div style="text-align: center;">
		<form action="/post-input" method="POST">
			<div>
				<input style="color: orange; font-size: 18px;" name="number_one" type="number" placeholder="Number one">
				<input style="font-size: 28px; width: 100px; text-align: center;" type="text" name="operator" placeholder="- + * /">
				<input style="color: orange; font-size: 18px;" name="number_two" type="number" placeholder="Number second">
			</div>
			<div>
				<button style="color: purple; font-size: 20px;">Ok submit</button>
			</div>
		</form>
	</div>
</body>
</html>