<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Node JS</title>
</head>
<body>
	<p>Funciona</p>
	<table border="1px" align="center">
		<tr>
			<td bgcolor="green">1</td>
			<td bgcolor="orange">Monday</td>
			<td>Tuesday</td>
			<td>Wednesday</td>
			<td>Thursday</td>
			<td>Friday</td>
		</tr>
		<tr>
			<td bgcolor="green">2</td>
			<td></td>
			<td bgcolor="orange">Check</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td bgcolor="green">3</td>
			<td></td>
			<td></td>
			<td bgcolor="orange">Check</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td bgcolor="green">4</td>
			<td></td>
			<td></td>
			<td></td>
			<td bgcolor="orange">Check</td>
			<td></td>
		</tr>
		<tr>
			<td bgcolor="green">5</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td bgcolor="orange">Check</td>
		</tr>
		<tr>
	</table>
</body>
</html>